table, td, th{
border: 0.5px solid #ddd;
align: center;
margin-top: 10px;
}
th, td {
	padding: 10px;
	text-align: center;
}
th {
	background-color: 	#0096FF; 
}
tr:nth-child(even) {background-color:#ADD8E6;}
/*ul {
	background-color: #f3f3f3;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li a {
	color: #666;
}*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #C0C0C0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}